// bower:scss
// endbower


body {  
  background: #E0EEE0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  color: #7A8B8B;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  margin: 120px;
  color: #F08;
  font-size: 5em;
}

p {
  margin: 10px;
  float: left;
}

.content {
  background-color: #fff;
  margin: 0 auto; 
  max-width: 960px;
  padding: 20px;
}

.example-container {
    overflow: hidden;
    min-height: 400px;
    border: 1px solid red;
}


.example {
  border: 1px solid blue;
  min-height: 400px;
}

button {
    float: right;
    margin: 0 5px 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #666;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
      background-color: #333;
    }

    &:active {
      background-color: #F08;
      margin-top: 1px;
    }
}

.corgibox {
  background-image:url('http://24.media.tumblr.com/tumblr_l599tkjPgL1qza4ndo1_500.jpg');
  background-size: cover;
  width: 960px;
  height: 400px;
}

.cssmethod {
  margin: 60px auto 0;
  background-color: green;
  width: 200px;
  height: 200px;
}

.hippocage {
  background-image:url('http://cdn.arwrath.com/1/13800.png');
  margin: 50px auto;
  width: 400px;
  height: 300px;
}

.animatesize {
  background-color: #F08;
  height: 400px;
  width: 400px;
}

.toggle {
  background-color: #F08;
  height: 400px;
  width: 400px;
}

.fontclass {
  font-size: 3em;
  font-weight: bolder;
  color: #fff;
}

.pinkHilite {
  background-color: #F08;
  text-decoration: underline;
}

.purpleHilite {
  background-color: #B100FF;
}

.toggletext {
    padding: 10px;
}

.outerdiv {
  padding: 10px;
  background-color: #333;
  margin: 10px;
  color: #FFF;
}

.innerdiv {
  padding: 10px;
  background-color: #CCC;
  margin: 10px;
  color: #333;
}

.sibling1 {
  float: left;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: #099;
}
.sibling2 {
  float: left;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: #4DB8B8;
}
.sibling3 {
  float: left;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: #99D6D6;
}
